:root {
	--text-color: black;
	--background: white;
	--btn-active-border: #252323;
	--btns-background: #a99985;
	--details-background: #dad2bc;
}
[data-theme="dark"] {
	--text-color: white;
	--background: rgb(52, 52, 52);
	--btn-active-border: white;
	--btns-background: #554c42;
	--details-background: #6d695e;
}
[data-theme="dark"] .nice-form-group  {
	--nf-input-color: var(--text-color);
	--nf-label-color: var(--text-color);
	--nf-input-background-color: rgb(77 77 77);
	--nf-valid-input-border-color: rgb(123 123 123);
  }
body {
	background: var(--background);
	color: var(--text-color);
}
.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
table {
	border-collapse: collapse;
	width: 90%;
}
th,
td {
	text-align: left;
	padding: 8px;
	border: var(--text-color) solid 1px;
	background-color: var(--background);
}
th {
	background-color: #70798c;
	color: white;
}
.tableBox {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
}
.buttons {
	width: 100%;
}
.btn {
	background-color: var(--btns-background);
	border: none;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	font-size: 15px;
    width: 13%;
    cursor: pointer;
    min-width: fit-content;
	color: var(--text-color);
}
.btnActive {
	border: 3px solid var(--btn-active-border);
}
details {
	padding: 10px;
}
div.details {
	padding: 20px;
	background-color: var(--btns-background);
	border-radius: 5px;
}
div.details > div {
	background-color: var(--details-background);
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
}
summary {
	display: flex;
	cursor: pointer;
	user-select: none;
	font-size: 20px;
	margin: auto;
	width: max-content;
	list-style: none;
	background-color: var(--btns-background);
	border-radius: 5px;
	padding: 10px;
}

details[open] summary {
	border-radius: 5px 5px 0 0;
}

summary::after {
	margin-left: 5px;
	content: "\25BC";
	transition: 0.5s;
}

details[open]>summary::after {
	transform: rotate(180deg);
}