.buttons {
	width: 100%;
	margin-bottom: 20px;
}
.btn {
	background-color: var(--btns-background);
	border: none;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	font-size: 15px;
    width: 13%;
    cursor: pointer;
    min-width: fit-content;
	color: var(--text-color);
}
.btnActive {
	border: 3px solid var(--btn-active-border);
}
.range_text {
	margin-bottom: 10px;
}
div.range .nice-form-group > input[type='date'] {
	width: 140px;
	min-width: unset;
}
div.range {
	display: flex;
	align-items: baseline;
}
div.range .nice-form-group {
	margin: 0;
}
.minus {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	transform: scaleX(2.5);
}
.btn-accept {
	margin: 0;
	margin-left: 15px;
	height: 2.75rem;
}