.buttons {
	width: 100%;
	margin-bottom: 20px;
}
.btn {
	background-color: var(--btns-background);
	border: none;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	font-size: 15px;
    width: 13%;
    cursor: pointer;
    min-width: fit-content;
	color: var(--text-color);
}
.btnActive {
	border: 3px solid var(--btn-active-border);
}